@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-mod {
    background-color: #292929!important;
    color: #E4E2DD!important;
}

.bg_color_primary {
    background-color: #E4E2DD;
}
.bg_color_secondary {
    background-color: #292929;
}
.c_black {
    color: #292929;
}
.c_primary {
    color: #E4E2DD;
}

/* Barra de scroll */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
}

/* Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #8a8a8a transparent;
}

/* Edge y otros navegadores */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
}
/* FIN esilos Barra de scroll */
